import(S7)
import(checkmate)
importFrom(jsonlite, toJSON, fromJSON)
importFrom(stats, predict, setNames, aggregate)
importFrom(glue, glue, as_glue)
importFrom(methods, new, getClassDef)
importFrom(utils, unzip, askYesNo, write.csv, read.csv, capture.output, help,
           head, tail)

# model constructors
export(ollama_model, llama_cpp_model, openai_model, azure_openai_model)
# other constructors
export(chat, tool, rag_from, text_store, LanguageModelParams, ollama_server)
# builders
export(equip, unequip, instruct, output_as, prompt_as, system_prompt_as,
       can_accept_as, demonstrate, demonstrate_all, describe_with_Rd)
# accessors
export(last_output, last_message, tools)
# operations
export(embed_text)
# chunking
export(chunk, default_chunking)
# convenience models
export(llama, llamafile_llama, llama_vision, nomic)
# persistence
export(persist, restore)
# MCP
export(mcp_connect, mcp_exec_server)

# S3 methods
S3method(nameOfClass, S7_S3_class)
