import(S7)
import(checkmate)
importFrom(jsonlite, toJSON, fromJSON)
importFrom(stats, predict, setNames, aggregate)
importFrom(glue, glue)

# model constructors
export(language_model, ollama_model, llama_cpp_model, openai_model,
       azure_openai_model, llama_cpp_model_from_ollama)
# other constructors
export(chat, tool, results_augmented_query_to, text_store)
# builders
export(equip, unequip, instruct, output_as, prompt_as, can_accept_as,
       can_return_as, demonstrate)
# accessors
export(last_output)
# operations
export(embed_text)
# chunking
export(chunk, default_chunking)
# convenience models
export(llama3, llava, nomic)
# backend API
export(models)
# persistence
export(persist, restore)

# S3 methods
S3method(nameOfClass, S7_S3_class)
