import(S7)
import(checkmate)
importFrom(jsonlite, toJSON, fromJSON)
importFrom(stats, predict)

# model constructors
export(language_model, ollama_model, llama_cpp_model, openai_model)
# other constructors
export(chat, tool, tool_signature)
# builders
export(equip)
# accessors
export(last_output)
# convenience models
export(llama3, llava)
